*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    display: flex;
}

/* Section 1 start */
.section_1{
    justify-content: center;
    padding-top: 8rem;
    background-image: url('images/man_standing_front_of_mountain.png');
}
.section_1>div>h1{
    font-size: 5rem;
    padding-bottom: 10px;
}
.section_1>div>p{
    font-size: 1.5rem;
    color: black;
}

/* Common CSS 1,5 section */
.section_1>div,.section_5>div{
    text-align: center;
}

/* Common CSS 2,3,4,5 section */
/* .Sec_div{
    width: 50vh;
} */

.Sec_div{
    width: 500px;
    max-width: 90%;
}
.Chapter{
    font-size: 1.5rem;
    padding-bottom: 30px;
}
.Sec_heading{
    font-size: 3rem;
    padding-bottom: 20px;
}
.Des{
    font-size: 1.5rem;
}
/* Section 2 start */
.section_2{
    align-items: center;
    padding-left: 10rem;
    background-image: url('images/Trees_mountain.png');
}

/* Section 3 start */
.section_3{
    justify-content: flex-end;
    align-items: center;
    padding-right: 10rem;
    background-image: url('images/waterfall.png');
}

/* Section 4 start */
.section_4{
    align-items: center;
    padding-left: 10rem;
    background-image: url('images/booting.png');
}

/* Section 5 start */
.section_5{
    justify-content: center;
    padding-top: 10rem;
    background-image: url('images/top_view.png');
}
.section_5>div>h1{
    color: black;
}
.end{
    background-color: rgb(59, 171, 135);
    width: max-content;
    padding: 10px 20px 10px 20px;
    justify-self: center;
    margin-top: 50px;
}
/* responsive CSS code */
@media (max-width:768px){

    section{
        background-attachment: scroll;
        overflow-y: auto;
    }

    .section_1>div>h1{
        font-size: 3rem;
    }

    .Sec_heading{
        font-size: 2rem;
    }

    .Des,
    .Chapter{
        font-size: 1.1rem;
    }

    .section_2,
    .section_4{
        padding-left: 2rem;
    }

    .section_3{
        padding-right: 2rem;
    }
}